<table>
    <tbody>
    <tr>
        <td>
            <iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7846.212674686592!2d-66.9309384!3d10.492283!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c2a5f220f3b1ba1%3A0x8f698853b67bcb4c!2sEl+Paraiso%2C+Caracas!5e0!3m2!1sen!2sve!4v1446788533230" width="400" height="350" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
        </td>
        <td valgn='top'>
        <h3 align="center">CONTACTOS</h3>       
            <h3><img class="alignnone wp-image-80" src="http://idstechnology.com.ve/wp-content/uploads/2015/11/e-mail-sobre-ios-simbolo-interfaz-7_318-36593-300x300.jpg" alt="e-mail-sobre--ios-simbolo-interfaz-7_318-36593" width="17" height="17" /> <a href="mailto:%20contacto@idstechnology.com.ve"> contacto@idstechnology.com.ve</a></h3>
            <h3><img class="alignnone wp-image-79" src="http://idstechnology.com.ve/wp-content/uploads/2015/11/icono-telefono-300x300.png" alt="icono-telefono" width="17" height="17" /> 0424-285-7442 / 0426-320-6191 / 0414-327-0285</h3>
            <h3><img class="alignnone wp-image-81 size-full" src="http://idstechnology.com.ve/wp-content/uploads/2015/11/facebook-icon-e1446789816520.png" alt="facebook-icon" width="17" height="17" /><a href="https://www.facebook.com/idstechnologyvzla/" target="_blank"> https://www.facebook.com/idstechnologyvzla/</a></h3>
            <h3><img class="alignnone wp-image-82" src="http://idstechnology.com.ve/wp-content/uploads/2015/11/Ícono_Twitter.png" alt="Ícono_Twitter" width="17" height="17" /> <a href="https://twitter.com/idstechnology14" target="_blank">@idstechnology14</a></h3>
        </td>
    </tr>
    </tbody>
</table>
<h3>Envienos sus inquietudes por el siguiente formulario :</h3>
<h3>[contact-form-7 id="68" title="Contacto formulario 1"]</h3>
<h3 align="justify"><em>Nos adaptamos a su necesidad, Pida su visita técnica, díganos que necesita, estamos para asesorarle.</em></h3>